.text {
    color: map-get($colors , cw );
    padding: 20px;
    text-align: center;
    font-family: map-get($fonts, coming ), cursive;
}

.text2 {
    color: map-get($colors , cw );
    text-align: center;
    font-family: map-get($fonts, coming ), cursive;
}
