.cabecera {
    justify-content: flex-end;
    background-color: transparent;
    font-size: large;
    color: white;   
}

.botoncabecera {
    border: solid white 2px;
}

.he{
    padding: 3px;
    margin: 3px;
}

.he:hover{
background-color: white;
color: black;
}

.he2{
    border: solid white 1px;
}