.th2{
    text-align: center;
    color: map-get($colors, cw);
    font-family: map-get($fonts, edu), cursive;
}

.prueba{
    transition: all 0.8s;
    color: transparent;
}


.prueba:hover{
    transition: all 0.8s;
    color: black;
    background-color: aliceblue;
    padding: 20px;
}


.tarjeta:hover{
    transform: scale(1.2);
    background-color: $bt;
}

.tarjeta{
    transition: all 1s;
    @include letrasbotones(comic Neue, 20px);
}