.th2{
    text-align: center;
    color: map-get($colors, cg);
    font-family: map-get($fonts, comic), cursive;
}



.tarjeta:hover{
    transform: scale(1.5);
    background-color: $bt;
}

.tarjeta{
    transition: all 1s;
    @include letrasbotones(comic Neue, 20px);
}